
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 250px); 
  justify-content: center;
  gap: 20px;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.user_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.name {
  margin: 10px 0 5px;
  color: #222;
}

.email {
  font-size: 14px;
  color: #555;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 250px);
  }
}